#main {
min-height: 1040px;
min-width: 900px;
position: relative;
}

body {
background: #ccc !important;
}
.video-overlay {
position: fixed;
left: 0;
right: 0;
bottom: 0;
top: 0;
}

.video-container {
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
}

#root {
margin: auto;
max-width: 900px;
}

.month {
padding: 70px 25px;
width: 100%;
background: #1abc9c;
text-align:center;
}

/* Month list */
.month ul {
margin: 0;
padding: 0;
list-style-type: none;
}

.month ul li {
color: white;
font-size: 20px;
text-transform: uppercase;
letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
float: left;
padding-top: 10px;
}

/* Next button */
.month .next {
float: right;
padding-top: 10px;
}
/* number for day */
.day-number {
list-style-type: none;
font-weight: 700;
font-size: 16px;
width: 13.6%;
text-align: left;
margin-bottom: 5px;
font-size:12px;
color:#777;
position: absolute;
left: 10px;
top: 10px;
}

.day-text { 
position: absolute;
top: 50%;
left: 50%;
transform: translateX(-50%) translateY(-50%);
width: calc(100% - 10px);
}

.day-frame {
height: 150px;
}

.days li{
position: relative;
border: 1px solid #fff;
border-right: 0;
}

.days li:first-child {
border-left: 1px solid #fff;  
}

.days li:nth-child(7n) {
border-right: 1px solid #fff;
}

/* Weekdays (Mon-Sun) */
.weekdays {
margin: 0;
padding: 10px 0;
background-color: #ddd;
}

.weekdays li {
display: inline-block;
width: 13.6%;
color: #666;
text-align: center;
}

/* Days (1-31) */
.days {
padding: 10px 0;
background: #eee;
margin: auto;
}


.days:after {
display: block;
clear: both;
content: '';
}

.days li {
list-style-type: none;
display: block;
float: left;
width: 14.2%;
text-align: center;
margin-bottom: 5px;
position: relative;
font-size:12px;
color:#777;
}

/* Highlight the "current" day */
.days li .active {
padding: 5px;
background: #1abc9c;
color: white !important;
} 

img {
max-height: 215px;
max-width: 100%;
}

.carousel-1, .carousel-2 {
max-width: 850px;
margin: auto;
}

.carousels {
/* (1040 - 450) / 2 */
padding: 295px 0;
}